.header {
  margin-bottom: 20px;
}

.has-tooltip {
  position: relative;
  color: #000;
  background: yellow;
}

.has-tooltip:hover {
  color: red;
}

.tooltip {
  position: absolute;
  display: none;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  top: calc(100% - 8px);
  /* bottom: -30px; */

  left: 0;
  z-index: 1;
}

.tooltip_active {
  display: block;
}
